{%extends 'pars/layout.html' %}
{% load bootstrap_pagination %}
{% load static %}
{% block content %}



<br>
<h1>Всего записей: {{c}}</h1>
<br>
<form method="GET">
  {% csrf_token %}
  <button type="submit" class="btn btn-info" value="cкачать" name="delete">Cкачать</button>
</form>
<br>
<form method="post">
  {% csrf_token %}
  <input type="submit" class="btn btn-warning" value="заполнить" name="button1"/>
</form>
<br>
<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Экспорт
  </button>
  <form method="GET" action="{% url 'exportall' %}">
  {% csrf_token %}

  <div class="dropdown-menu">


    <button  type="submit" class="dropdown-item" name="Excel" >Excel</button>
    <button type="submit" class="dropdown-item" name="JSON" >JSON</button>
    <button type="submit" class="dropdown-item" name="YAML" >YAML</button>
    <button type="submit" class="dropdown-item" name="CSV" >CSV</button>
  </div>
  </form>
</div>
<br>
<br>
{% bootstrap_paginate page_obj range=30 %}
<br>
<table class="table table-bordered">
  <thead>
    <tr>
        <th scope="col">Номер</th>
        <th scope="col">Название</th>
        <th scope="col">Исполнитель</th>
        <th scope="col">Покупатель</th>
        <th scope="col">Тип бюджета</th>
        <th scope="col">Вид НИОКТР</th>
        <th scope="col">Начало проекта</th>
        <th scope="col">Конец проекта</th>
         <th scope="col">Аннотация</th>
    </tr>
  </thead>
  <tbody>

{% for contact in page_obj %}
<tr class='success'>
    <td><form method="GET" action="{% url 'full' %}">

          <input type="hidden" required name = 'id' value = {{contact.id}} >
          <button type="submit" class="link">{{ contact.registration_number}}</button>
          {% csrf_token %}

      </form></td>
        <td>{{ contact.name}}</td>
        <td>{{ contact.executor }}</td>
        <td>{{ contact.customer}}</td>
        <td>{{ contact.budget_type}}</td>
        <td>{{ contact.nioktr_types}}</td>
        <td>{{ contact.start_date}}</td>
        <td>{{ contact.end_date}}</td>
        <td>{{ contact.annotation}}</td>
    </tr>

{% endfor %}
 </tbody>
</table>


{% endblock %}
