{%extends 'pars/layout.html' %}
{% load bootstrap_pagination %}
{% block content %}
<br>
<h1>Найдено записей: {{c}}</h1>
<h1>Поиск по слову: {{ search_query}}</h1>
<br>
{% bootstrap_paginate page_obj range=30 %}
<br>
<h1>Поиск по vsdaслову: {% for i in ye %}{{ i }}{% endfor %}</h1>
<br>
<table class="table table-bordered">
  <thead>
    <tr>
        <th scope="col">Номер</th>
        <th scope="col">Название</th>
        <th scope="col">Исполнитель</th>
        <th scope="col">Покупатель</th>
        <th scope="col">Тип бюджета</th>
        <th scope="col">Вид НИОКТР</th>
        <th scope="col">Начало проекта</th>
        <th scope="col">Конец проекта</th>
         <th scope="col">Аннотация</th>
    </tr>
  </thead>
  <tbody>

{% for contact in proj %}
{% for z in contact %}
<tr class='success'>
    <td><form method="GET" action="{% url 'full' %}">

          <input type="hidden" required name = 'id' value = {{z.id}} >
          <button type="submit" class="link">{{ z.registration_number}}</button>
          {% csrf_token %}

      </form></td>

        <td>{{ z.name}}</td>
        <td>{{ z.executor }}</td>
        <td>{{ z.customer}}</td>
        <td>{{ z.budget_type}}</td>
        <td>{{ z.nioktr_types}}</td>
        <td>{{ z.start_date}}</td>
        <td>{{ z.end_date}}</td>
        <td>{{ z.annotation}}</td>
    </tr>
{% endfor %}
{% endfor %}
 </tbody>
</table>

{% endblock %}
