.searchtext {
  font-size: 16px;
  font-weight: bold;
  height: 27px;
  padding: 0 6px 0;
  width: 250px;
  /*делаем стильную границу вокруг поля*/
  border: 1px solid rgba(0, 0, 0, 0.1);
}
/* выбираем цвет подсветки — светло-зелёный*/
.highlight {
  background: #4cff00;
}
/*кнопка поиска*/
.search-button {
  background-color: #0b2f3f;
  font-weight: bold;
  font-size: 12px;
  /*устанавливаем высоту кнопки*/
  height: 28px;
  margin: 0;
  color: #4682B4;
  padding: 6px;
  /*тоже делаем стильную границу у кнопки*/
  border: 1px solid rgba(0, 0, 0, 0.1);
}
button.link {
  /* Первые два свойства нужны чтобы убрать отступы в IE */
  overflow: visible;
  width: auto;

  /* Убираем отступы */
  margin: 0;
  padding: 0;

  /* Убираем все элементы оформления кнопки */
  background: none;
  border: none;
     color: #4682B4;
  /* Обычный для ссылок курсор */
  cursor: pointer;
}

/* Ссылка обычно подчеркнута */
button.link span {
   color: #4682B4;
  text-decoration: underline;


}
.card-header-title > a {
    display: block;
    position: relative;
}
.card-header-title > a:hover {
    cursor: pointer;
}

.card-header-title > a:after {
    content: "\f078"; /* fa-chevron-down */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 0;
}
.card-header-title > a[aria-expanded="true"]:after {
    content: "\f077"; /* fa-chevron-up */
}
